# Virtual Environment
ramzas_env/
venv/
env/
.venv/

# Django
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Node.js
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp